# Build and Release Folders
bin/
bin-debug/
bin-release/

# Other files and folders
.settings/
game/scripts/vscripts/statcollection/settings.kv

# Cache crap that Valve autogenerates
*.bin

# Compiled formats
*.vpcf_c
*.vtex_c
*.vsndevts_c
*.vsnd_c
*.vmat_c
*.vjs_c
*.vxml_c
*.vcss_c

# Commit panorama compiled textures
!game/panorama/images/*.vtex_c
!game//panorama/images/custom_game/*.vtex_c

# Map files
*.vpk

# Map overviews
content/materials/overviews/*.vmat
content/materials/overviews/*.txt
game/resource/overviews/*

#Github dump
*.stackdump

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
